<ion-content>
  <ion-grid>
    <ion-thumbnail>
      <img style="border-radius: 50%;" src="https://images-na.ssl-images-amazon.com/images/I/81hkSG4FdPL._SL1080_.jpg" />
    </ion-thumbnail>
    <ion-row>
      <ion-col size="12" class="element">
        <ion-row class="ion-justify-content-center ion-padding-top">
          <ion-label style="color: white;">{{inventory.name}} {{inventory.inventoryNumber}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-label style="font-weight: bold;">Описание</ion-label>
        </ion-row>
        <ion-row>{{ inventory.description }}</ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-row style="font-weight: bold;">
          <ion-label>Информация</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">{{inventory.categoryId}}</ion-col>
          <ion-col size="6">Категория</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">{{inventory.amount}}</ion-col>
          <ion-col size="6">Цена(RSD)</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">{{inventory.quantity}}</ion-col>
          <ion-col size="6">Брой</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">{{inventory.buyedAt}}</ion-col>
          <ion-col size="6">Период</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">{{inventory.location}}</ion-col>
          <ion-col size="6">Местоположение</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">{{inventory.responsiblePerson}}</ion-col>
          <ion-col size="6">Отговорно лице</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">
            <ion-checkbox
              color="warning"
              [checked]="inventory.isValid"
              disabled>
            </ion-checkbox>
          </ion-col>
          <ion-col size="6">Отпис</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><ion-icon name="ellipse-sharp" class="i-color"></ion-icon></ion-col>
          <ion-col size="5">
            <ion-checkbox
              color="warning"
              [checked]="inventory.isAmortization"
              disabled>
            </ion-checkbox>
          </ion-col>
          <ion-col size="6">Amortization</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="font-weight: bold;">
      <ion-label>Stopa(%)</ion-label>
    </ion-row>
    <ion-row>
      <ion-col size="10"><ion-progress-bar color="warning" [value]="inventory.growth / 100" style="margin-top: 9px;"></ion-progress-bar></ion-col>
      <ion-col size="2">{{ inventory.growth }} %</ion-col>
    </ion-row>

    <ion-row style="justify-content: space-around;">
      <ion-button size="small" shape="round" color="warning"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button size="small" shape="round" color="warning"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-row>
  
  </ion-grid>
</ion-content>
