* {
    box-sizing: border-box;
  }
  
  .element {
    clip-path: ellipse(180px 150px at 50% 10%);
    width: 100%;
    height: 180px;
    float: top;
    background-color: #303030;
  }

  .margin-style {
    margin: 20% auto 0% auto;
  }

  p {
    margin: 0 auto 0 auto !important;
    font-size: 75%;
  }