<ion-tabs (ionTabsDidChange)="changeTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventories" mode="ios">
      <ion-icon [name]="inventoryIcon"></ion-icon>
      <ion-label>{{ 'TABS.PRODUCTS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      (click)="goToInventoryDetails()"
      tab="add-inventory"
      mode="ios"
    >
      <ion-icon [name]="addInventoryIcon"></ion-icon>
      <ion-label>{{ 'TABS.ADD_PRODUCT' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" mode="ios">
      <ion-icon [name]="settingsIcon"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
