<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'INVENTORIES.TITLE' | translate }}</ion-title>
  </ion-toolbar>
  <div class="filter-container">
    <ion-row class="ion-align-items-center">
      <ion-searchbar
        mode="ios"
        debounce="500"
        [animated]="true"
        (ionChange)="searchInventory($event)"
        [placeholder]="'INVENTORIES.LABELS.SEARCH' | translate"
      ></ion-searchbar>
    </ion-row>
    <ion-row
      class="ion-align-items-center ion-justify-content-center inventory-filters"
    >
      <ion-col size="7">
        <ng-container *ngIf="(facade.categories$ | async) as categories">
          <ion-select
            interface="popover"
            value="1"
            (ionChange)="getInventories($event, 'select')"
          >
            <ion-select-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{category.name}}
            </ion-select-option>
            <ion-select-option
              *ngIf="categories?.length === 0 || !categories"
              disabled
              >{{ 'INVENTORIES.NO_PRODUCTS' | translate }}</ion-select-option
            >
          </ion-select>
        </ng-container>
      </ion-col>
      <ion-col class="amortization" size="5">
        <ion-label
          >{{ 'INVENTORIES.LABELS.AMORTIZATION' | translate }}</ion-label
        >
        <ion-checkbox
          color="warning"
          (ionChange)="getInventories($event, 'checkbox')"
        ></ion-checkbox>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container
    *ngIf="(facade.inventories$ | async)?.length > 0; else noProducts"
  >
    <stc-inventory-list
      [inventories]="facade.inventories$ | async"
      (viewInventory)="presentModal($event)"
      (infiniteScroll)="infiniteScroll($event)"
    ></stc-inventory-list>
  </ng-container>
  <ng-template #noProducts>
    <img src="assets/images/no-products.png" />
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total amount: 1555.00 RSD</ion-title>
  </ion-toolbar>
</ion-footer>
