form {
  background: var(--ion-toolbar-background);
  color: var(--ion-text-color);

  ion-searchbar {
    --background: linear-gradient(
      41deg,
      rgba(218, 218, 218, 1) 0%,
      rgba(157, 157, 157, 1) 100%
    );
  }

  .inventory-filters {
    padding-left: 7px;
    padding-right: 7px;

    .amortization {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    ion-select {
      background: var(--ion-toolbar-background);
      --placeholder-color: var(--ion-toolbar-color);
      --placeholder-opacity: 1;
    }

    ion-checkbox {
      --background: rgb(218, 218, 218);
    }
  }
}