<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Наличен инвентар
    </ion-title>
  </ion-toolbar>
      <form [formGroup]="inventoriesForm">
        <ion-row>
          <ion-searchbar mode="ios" showCancelButton="focus" debounce="500" [animated]="true" (ionChange)="searchInventiry($event)"></ion-searchbar>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-item>
              <ion-label position="floating">Kategorija</ion-label>
              <ion-select interface="popover" formControlName="categoryId">
                <ng-container *ngIf="(facade.categories$ | async)?.length > 0 else emptyCategories;">
                  <ion-select-option *ngFor="let category of facade.categories$ | async" [value]="selectedCategory" (ionChange)="getInventories()">
                    {{category.name}}
                  </ion-select-option>
                </ng-container>
                <ng-template #emptyCategories>
                  <ion-select-option disabled>Няма категории</ion-select-option>
                </ng-template>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-label>Amortizacija</ion-label>
              <ion-checkbox color="secondary" formControlName="isAmortization" (ionChange)="getInventories($event, 'checkbox')"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
</ion-header>

<ion-content [fullscreen]="true">
  <app-inventory-list [inventories]="facadeInventories.inventories$ | async"></app-inventory-list>
</ion-content>
