<ion-content>
  <form
    [formGroup]="inventoryForm"
    (ngSubmit)="submit()"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Kategorija*</ion-label>
            <ion-select interface="popover" formControlName="categoryId">
              <ng-container
                *ngIf="
                  categories?.length > 0;
                  else emptyCategories
                "
              >
                <ion-select-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </ion-select-option>
              </ng-container>
              <ng-template #emptyCategories>
                <ion-select-option disabled>Nema kategorija</ion-select-option>
              </ng-template>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Ime prozivoda*</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Vrednost (RSD)*</ion-label>
            <ion-input type="number" formControlName="amount"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Količina</ion-label>
            <ion-input type="number" formControlName="quantity"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Broj proizvoda*</ion-label>
            <ion-input
              type="text"
              formControlName="inventoryNumber"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Datum kupovine</ion-label>
            <ion-datetime formControlName="buyDate"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Lokacija*</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Lice za zaduženje*</ion-label>
            <ion-input
              type="text"
              formControlName="responsiblePerson"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-align-self-start">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-label-padding">Validan</ion-label>
            <ion-checkbox
              color="secondary"
              formControlName="isValid"
            ></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-align-self-end">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-label-padding">Amortizacija</ion-label>
            <ion-checkbox
              color="secondary"
              formControlName="isAmortization"
            ></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Stopa (%)</ion-label>
            <ion-input type="number" formControlName="growth"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Opis</ion-label>
            <ion-textarea
              formControlName="description"
              rows="4"
              cols="20"
              placeholder="Opis proizvoda..."
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-button
        expand="block"
        type="button"
        shape="round"
        (click)="captureInventory()"
      >Slikaj</ion-button
    >

      <ion-button
        expand="block"
        type="submit"
        shape="round"
        [disabled]="inventoryForm.invalid"
        >Dodaj</ion-button
      >
    </ion-grid>
  </form>
</ion-content>
