<ion-content>
  <form [formGroup]="inventoryForm" (ngSubmit)="submit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >{{ 'INVENTORIES.LABELS.CATEGORY' | translate }}*</ion-label
            >
            <ion-select interface="popover" formControlName="categoryId">
              <ng-container
                *ngIf="categories?.length > 0; else emptyCategories"
              >
                <ion-select-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </ion-select-option>
              </ng-container>
              <ng-template #emptyCategories>
                <ion-select-option disabled>{{
                  'INVENTORY_DETAILS.FORM.NO_CATEGORY' | translate
                }}</ion-select-option>
              </ng-template>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >{{ 'INVENTORIES.LABELS.PRODUCT_NAME' | translate }}*</ion-label
            >
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating"
              >{{ 'INVENTORIES.LABELS.VALUE' | translate }}*</ion-label
            >
            <ion-input type="number" formControlName="amount"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">{{
              'INVENTORIES.LABELS.QUANTITY' | translate
            }}</ion-label>
            <ion-input type="number" formControlName="quantity"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >{{ 'INVENTORIES.LABELS.PRODUCT_NUMBER' | translate }}*</ion-label
            >
            <ion-input
              type="text"
              formControlName="inventoryNumber"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">{{
              'INVENTORIES.LABELS.DATE_OF_PURCHAES' | translate
            }}</ion-label>
            <ion-datetime formControlName="buyDate"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >{{ 'INVENTORIES.LABELS.LOCATION' | translate }}*</ion-label
            >
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              >{{
                'INVENTORIES.LABELS.RESPONSIBLE_PERSON' | translate
              }}*</ion-label
            >
            <ion-input
              type="text"
              formControlName="responsiblePerson"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-align-self-start">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-label-padding">{{
              'INVENTORIES.LABELS.IS_VALID' | translate
            }}</ion-label>
            <ion-checkbox
              color="secondary"
              formControlName="isValid"
            ></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-align-self-end">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-label-padding">{{
              'INVENTORIES.LABELS.AMORTIZATION' | translate
            }}</ion-label>
            <ion-checkbox
              color="secondary"
              formControlName="isAmortization"
            ></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">{{
              'INVENTORIES.LABELS.GROWTH' | translate
            }}</ion-label>
            <ion-input type="number" formControlName="growth"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">{{
              'INVENTORIES.LABELS.DESCRIPTION' | translate
            }}</ion-label>
            <ion-textarea
              formControlName="description"
              rows="4"
              cols="20"
              [placeholder]="
                'INVENTORY_DETAILS.FORM.DESCRIPTION_PLACEHOLDER' | translate
              "
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-button type="button" shape="round" (click)="openCameraOptions()"
          >{{ 'INVENTORY_DETAILS.FORM.CAPTURE_IMAGE' | translate }}
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-img
          *ngIf="inventoryForm.get('imageName').value"
          [src]="inventoryImageUrl"
        ></ion-img>
      </ion-row>

      <ion-button
        expand="block"
        type="submit"
        shape="round"
        [disabled]="inventoryForm.invalid"
        >{{
          (inventory
            ? 'INVENTORY_DETAILS.FORM.EDIT'
            : 'INVENTORY_DETAILS.FORM.ADD'
          ) | translate
        }}</ion-button
      >
    </ion-grid>
  </form>
</ion-content>
