<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="modalController.dismiss()">
        {{ 'SHARED.CLOSE' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{
      'INVENTORIES.LABELS.VIEW_INVENTORY_TITLE' | translate
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-thumbnail>
        <img [src]="inventory.imageName" />
      </ion-thumbnail>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-label>{{
            'INVENTORIES.LABELS.DESCRIPTION' | translate
          }}</ion-label>
        </ion-row>
        <ion-row>{{ inventory.description }}</ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-label>{{
            'INVENTORIES.LABELS.INFORMATION' | translate
          }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.name }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.PRODUCT_NAME' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.inventoryNumber }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.PRODUCT_NUMBER' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.category.name }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.CATEGORY' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.amount }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.VALUE' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.quantity }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.QUANTITY' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{
            inventory.buyDate | date: 'mediumDate'
          }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.DATE_OF_PURCHAES' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.location }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.LOCATION' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">{{ inventory.responsiblePerson }}</ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.RESPONSIBLE_PERSON' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">
            <ion-checkbox
              color="warning"
              [checked]="inventory.isValid"
              disabled
            >
            </ion-checkbox>
          </ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.IS_VALID' | translate
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="ellipse-sharp" class="i-color"></ion-icon
          ></ion-col>
          <ion-col size="5">
            <ion-checkbox
              color="warning"
              [checked]="inventory.isAmortization"
              disabled
            >
            </ion-checkbox>
          </ion-col>
          <ion-col size="6">{{
            'INVENTORIES.LABELS.AMORTIZATION' | translate
          }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="inventory.growth" class="ion-align-items-center">
      <ion-label>{{ 'INVENTORIES.LABELS.GROWTH' | translate }}</ion-label>
      <ion-col size="10"
        ><ion-progress-bar
          color="warning"
          [value]="inventory.growth / 100"
        ></ion-progress-bar
      ></ion-col>
      <ion-col size="2">{{ inventory.growth }} %</ion-col>
    </ion-row>

    <ion-row style="justify-content: space-around">
      <ion-button shape="round" color="warning" (click)="editInventory()"
        ><ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="warning" (click)="presentAlertConfirm()"
        ><ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
