ion-grid {
  padding: 0;

  ion-thumbnail {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 12%;
  }

  .element {
    clip-path: ellipse(304px 100px at 50% 10%);    
    height: 180px;
    width: 100%;
    background-color: var(--ion-toolbar-background);
    font-size: 1.3rem;
  }

  p {
    margin: 0 auto 0 auto !important;
    font-size: 75%;
  }

  .i-color {
    color: #9ACD32;
  }
}
