ion-grid {
  padding: 0;

  ion-thumbnail {
    height: 130px;
    width: 130px;
    margin: 0 auto;

    img {
      border-radius: 50%;
    }
  }

  ion-label {
    font-weight: bold;
  }

  p {
    margin: 0 auto 0 auto !important;
    font-size: 75%;
  }

  .i-color {
    color: #9acd32;
  }
}
