ion-list {
    background: var(--ion-toolbar-background);

    ion-card {
        height: 90%;
        background: rgba(52, 73, 94, 0.4);
        color: white;
    
        ion-thumbnail {
            height: 5rem;
        }
    
        ion-button {
            --background: var(--ion-toolbar-background);
            --color: #ffaf00;
        }
    }
}